*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    overflow: hidden;
}
main{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.formside{
    height: 100%;
    width: 50%;
    text-align: center;
    margin-top: 5vh;
}
.formside img{
    height: 20%;
}
.formside h1{
    font-size: 32pt;
    text-decoration: underline;
    text-decoration-color: #0220FF;
    margin-bottom: 5vh;
}
.formside form{
    
    font-family: 'Andika';
    font-size: 20pt;
    color: #373737;
}
.inputbox{
    margin-left: 10%;
    text-align: left;
}
input{
    height: 40px;
    width: 87.5%;
    margin-bottom: 2.5vh;
    background-color: #D9D9D9;
    border-width: 0;
}
input:hover{
    opacity: 80%;
    cursor: pointer;
}
.botao{
    background-color: #6C92BD;
    color: white;
    font-family: 'Aldrich';
    font-size: 15pt;
    font-weight: bold;
    margin-top: 5%;
    text-align: center;
    border-radius: 30px;
    width: 80%;
    height: 60px;
}
.logoside{
    height: 100%;
    width: 50%;
    background-image: linear-gradient(90deg, #00314D, #0173B3);
    display: flex;
}
.logoside img{
    width: 100%;
    margin: auto;
}
@media(max-width: 100vh){
    main{
        display: inline-block;
        overflow-y: scroll;
    }
    .formside, .logoside{
        width: 100vw;
    }
    .logoside{
        height: 50vh;
    }
}
@media(max-height: 700px){
    .formside img{
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
    }
    .formside{
        margin-top: 0;
    }
    h1{
        margin-top: -10vh;
    }

    main{
        display: inline-block;
        overflow-y: scroll;
    }
    .formside, .logoside{
        width: 100vw;
    }
    .logoside{
        height: 50vh;
    }
}